@import "tailwindcss";

:root {
  --background: #fafaf9;
  /* Stone 50 */
  --foreground: #1c1917;
  /* Stone 900 */
  --primary: #419c44;
  --primary-dark: #368339;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}